root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown uses trailing whitespace (two spaces) for hard line breaks.
[*.md]
trim_trailing_whitespace = false
